@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 184;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 184;
  }
}
@-webkit-keyframes glow {
  0% {
    fill-opacity: 1;
    fill-color: #c1c8d4;
  }
  70% {
    fill-opacity: 0.1;
    fill-color: #0f0f0f;
  }
  100% {
    fill-opacity: 0.2;
    fill-color: #0f0f0f;
  }
}
@keyframes glow {
  0% {
    fill-opacity: 1;
    fill-color: #c1c8d4;
  }
  70% {
    fill-opacity: 0.1;
    fill-color: #0f0f0f;
  }
  100% {
    fill-opacity: 0.2;
    fill-color: #0f0f0f;
  }
}